<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meu sistema web</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="topo">
        <h1>Seja bem-vindo ao meu sistema</h1>
        <h2>Renê de Sousa</h2>
    </div>
    <div id="corpo">
        <p>Saiba se você foi convidado para minha festa</p>
        <form action="/verificarconvite" method="POST">
            <label>Digite seu nome</label>
            <input name="nomeuser" type="text">
            <button>Verificar</button>
        </form>
    </div>

</body>
</html>