<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>IFPB</title>
      <link rel="stylesheet" href="../static/thaystyle.css">
   </head>
   <body style="background-color: rgb(48, 177, 106);">


    <div class= "foto">
    <img src="turma.jpeg">

      <h1>SUBSEQUENTE P3</h1>
      </div>
      <div class= "exemplo">
      <h2> BEM-VINDO! <b>
        </b> </h2>
      <p> <i> Alunos assíduos do 3° período de informática. <br> </p></i>
      </div>

      <div class="pai">
         <div class="exemplo2">
        <b><a href="https://www.ifpb.edu.br/"> PORTAL IFPB </a></b>
        <br> <br> <b><a href="https://www.ifpb.edu.br/ti/acesso-a-sistemas"> SUAP</a> </b>
        <br><br><b> <a href="https://presencial.ifpb.edu.br/login/index.php">MOODLE </a> </b>
         </div>

         <div class="turma">
           <a>  ALUNOS 2023.1 </a>
           <br>
           <p id="turma" > Deixe uma nota sobre a turma. </p>
           <input type="text" id="texto">
           <br>
           <button id="clicar"> adicionar texto </button>
         </div>

      <div class="novo">
        <form action="/inseriraluno" method="post">
            <label>Login</label>
            <input type="number">
            <br>
            <label>Senha</label>
            <input type="password" id="senha1" name="senha1">
            <br>
            <label>Repetir senhaLogin</label>
            <input type="password" id="senha2" name="senha2">
            <br>
            <button onclick="entrar()" type="submit"> Cadastrar </button>
            <p id="mensagem"> </p>
        </form>
      </div>
      </div>

      <div class="aluna">
      <footer> <b> <br> THAYNARA ELAYNE BARBOSA DE OLIVEIRA</footer> </b>
      </div>

      <script src="js/newfile.js"> </script>

      <script src="js/thayscript.js"> </script>


</body>
</html>
